.cardItem{
    padding-top: 25px;
}

.imgItem :hover{
   opacity: 0.5;
}

.itemInfo{
    font-weight: lighter;
    padding-top: 20px;
}

.itemFooter a{
    color: black;
}

.itemFooter a:hover{
    color:olivedrab;
}